$font__main: "Source Sans Pro", sans-serif;
$font__snd: "Source Sans Pro", sans-serif;

$line-height: 1.5;
$line-height-2x: 2;
$line-height-3x: 2.5;
$color__background-body: #fff;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__text-main: #000;

$selection-background: #f1f1f1;
$selection-color: #21759b;
